<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<head>
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<main role="main" class="container">
    <div class="jumbotron">
        <div class="table-responsive">
            <table id="users_table" class="table table-danger table-bordered table-hover table-striped ">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>USER ID</th>
                    <th>REVIEW</th>
                    <th>DATE</th>
                    <th>DETAILS</th>
                </tr>
                </thead>
                <tbody th:each="review : ${reviews}">
                <tr>
                    <td scope="row" th:text="${review.id}"></td>
                    <td scope="col" th:text="${review.userId}"></td>
                    <td scope="col" th:text="${review.review}"></td>
                    <td scope="col" th:text="${review.date}"></td>
                    <td scope="col">
                        <a th:href="'/see/' + ${review.id}" class="btn btn-success">GET DETAILS</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
