<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List users</title>
</head>
<body>
<table id="users_table" class="table table-dark table-hover table-striped ">
    <thead class="thead-light" align="center">
    <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>CHAT ID</th>
        <th>USER NAME</th>
    </tr>
    </thead>
    <tbody th:each="user : ${users}">
    <tr>
        <td scope="row" th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>